
.input-login {
    min-width: 80%;
    max-width: 100%;
    padding: 12px 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  .input-login:focus, .input-login:focus {
    outline: none;
  }
  
  /* Set a style for all buttons */
  .button-login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .button-login {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
    .cancelbtn-login {
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn-login, .signupbtn {
    float: left;
    width: 50%;
    padding: 14px 20px;
    color: white;
  }
  
  .signupbtn{
    background-color: #0B6823;
  }

  /* Add padding to container elements */
  .container-login {
    padding: 16px;
    width: 90%;
    margin: auto;
    align-self: center;
  }
  
  /* The Modal (background) */
  .modalTwo {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modalTwo-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  